/* RuneScape Fonts - Custom OSRS themed fonts */
@font-face {
  font-family: 'runescape_plain';
  /* The URL is the virtual path handled by WebViewAssetLoader. */
  src: url('https://appassets.androidplatform.net/res/font/runescape_plain.ttf');
}

@font-face {
  font-family: 'runescape_bold';
  src: url('https://appassets.androidplatform.net/res/font/runescape_bold.ttf');
}

/* Alegreya Font Family - Serif for large text and headings */
@font-face {
  font-family: 'Alegreya';
  font-weight: 500;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_medium.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 500;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_medium_italic.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 600;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_semibold.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 600;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_semibold_italic.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 700;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_bold.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 700;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_bold_italic.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 800;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_extrabold.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 800;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_extrabold_italic.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 900;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_black.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 900;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_black_italic.ttf');
}

/* Rubik Font Family - Sans-serif for UI elements */
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/rubik_regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/rubik_italic.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/rubik_medium.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/rubik_medium_italic.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/rubik_semibold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/rubik_semibold_italic.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/rubik_bold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/rubik_bold_italic.ttf');
}

/* Atkinson Hyperlegible Next Font Family - Sans-serif for body/reading content (replaces Inter) */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/inter_regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/inter_italic.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/inter_medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/inter_medium_italic.ttf');
}

/* Alegreya Sans Font Family - Sans-serif for UI elements */
@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 400;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sans_regular.ttf');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 400;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sans_italic.ttf');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 700;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sans_bold.ttf');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 500;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sans_medium.ttf');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 500;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sans_medium_italic.ttf');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 700;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sans_bold.ttf');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 700;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sans_bold_italic.ttf');
}

/* Alegreya SC Font Family - Small caps for headers and labels */
@font-face {
  font-family: 'Alegreya SC';
  font-weight: 400;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sc_regular.ttf');
}

@font-face {
  font-family: 'Alegreya SC';
  font-weight: 500;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sc_medium.ttf');
}

@font-face {
  font-family: 'Alegreya SC';
  font-weight: 700;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/alegreya_sc_bold.ttf');
}


/* Cascadia Code Font Family - Monospace for code */
@font-face {
  font-family: 'Cascadia Code';
  font-weight: 400;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/cascadia_code_regular.ttf');
}

@font-face {
  font-family: 'Cascadia Code';
  font-weight: 400;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/cascadia_code_italic.ttf');
}

@font-face {
  font-family: 'Cascadia Code';
  font-weight: 700;
  font-style: normal;
  src: url('https://appassets.androidplatform.net/res/font/cascadia_code_bold.ttf');
}

@font-face {
  font-family: 'Cascadia Code';
  font-weight: 700;
  font-style: italic;
  src: url('https://appassets.androidplatform.net/res/font/cascadia_code_bold_italic.ttf');
}
